---
const {showOverlay} = Astro.props
import {concertCardsData} from '../js/concert_maps_data.js'
import Card from './Card.astro'
import TicketPurchaseInfo from './TicketPurchaseInfo.astro'
---

<div class='mx-12'>
  <div class='concert-cards-container flex flex-wrap justify-center'>
    {
      concertCardsData.map((concertCard) => (
        <Card
          class='m-4'
          src={`/images/concert/concert_cards/${concertCard.concertImage}.webp`}
          isConcertCard={true}
          showOverlay={showOverlay}
          concertDate={concertCard.concertDate}
          concertLocation={concertCard.concertLocation}
          concertPrice={concertCard.concertPrice}
          concertTarget={concertCard.concertTarget}
          concertEvent={concertCard.concertEvent}
          concertLocationCoordinates={concertCard.concertLocationCoordinates}
          concertCancelOverlayImage={concertCard.concertCancelOverlayImage}
          concertCancelOverlayText={concertCard.concertCancelOverlayText}
          isConcertCancelled={concertCard.isConcertCancelled}
        />
      ))
    }
  </div>
  <TicketPurchaseInfo
    ticketPurchaseInfoText='Billet til koncerterne købes i døren'
  />
</div>
